.mainClass {
    /* background-color: rgba(0, 255, 255, 0.23); */
    background-color: rgb(70, 131, 180, 0.434);
    position: relative;
    min-height: 100vh;
    overflow: hidden;
    z-index: 0;
}

.mainClass::before {
    /* Add waves pattern top right but inverted */
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 250px;
    height: 250px;
    background: url("/images/waves.svg");
    /* inverted and rotated */
    transform: scaleX(-4) scaleY(-2) rotate(190deg);
    /* sits behind */
    z-index: -1;
}

.containerClass {
    padding: 50px 100px;
    display: flex;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.backgroundClassLogin {
    background-image: url("/images/IMG_9679.jpg");
    flex: 1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* for text */
    display: flex;
    /* flex-direction: column; */
    align-items: flex-end;
    justify-content: flex-start;
    position: relative;
    color: white;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.backgroundClassLogin::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.3);
    /* dark overlay for contrast */
    z-index: 1;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.backgroundClassSignup {
    background-image: url("/images/IMG_9686.jpg");
    flex: 1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* for text */
    display: flex;
    /* flex-direction: column; */
    align-items: flex-end;
    justify-content: flex-start;
    position: relative;
    color: white;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.backgroundClassSignup::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.3);
    /* dark overlay for contrast */
    z-index: 1;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

/* Login Form */
.formClass {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btnPrimary {
    background-color: #05B6D3;
    border: 1px none #ccc;
    border-radius: 20px;
    padding: 0.5rem;
    width: 50%;
    outline: none;
    /* remove default outline */
    font-size: .8em;
    margin-bottom: 1rem;
    box-sizing: border-box;
    color: white;
    font-weight: 600;
}

.btnPrimary:hover {
    background-color: rgba(0, 255, 255, 0.23);
    color: #05B6D3;
}

.btnSecondary {
    background-color: rgba(0, 255, 255, 0.23);
    color: #05B6D3;
    border: 1px none #ccc;
    border-radius: 20px;
    padding: 0.5rem;
    width: 50%;
    outline: none;
    /* remove default outline */
    font-size: 0.8rem;
    margin-bottom: 1rem;
    box-sizing: border-box;
    font-weight: 600;
}

.btnSecondary:hover {
    background-color: #05B6D3;
    color: white;
}

.loginClass {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.textOverlay {
    position: relative;
    z-index: 2;
    text-align: left;
    padding: 1rem;
}

.textOverlay h4 {
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: 600;
}

.textOverlay p {
    font-size: .9rem;
    max-width: 80%;
}

.inputBox {
    border: 1px none #ccc;
    border-radius: 6px;
    padding: 0.5rem;
    width: 50%;
    outline: none;
    /* remove default outline */
    font-size: .8rem;
    font-weight: 400;
    margin-bottom: 1rem;
    box-sizing: border-box;
    background-color: rgba(211, 211, 211, 0.221);
}