@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto+Slab:wght@700&display=swap');


.mainContainer{
    padding:1px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Lato";
    font-size: large;
}
.logo {
    padding:5px;
    color: rgba(18, 202, 202, 0.596);
    font-family: 'Pacifico', cursive;
    font-size: 1.5rem;
    color: #05B6D3;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    letter-spacing: 2px;
}
h4{
    margin:5px;
}
.userInfo{
    display:flex;
    margin: 5px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.userInfo p{
    font-weight: 600;
}

.userInfo a {
    color: black; 
    font-weight: 600;
    text-decoration: none;
    transition: color 0.3s ease;
}

.userInfo a:hover {
    color:rgba(0, 0, 0, 0.596);   
}

.userInfo a:visited {
    color: black;
}

hr{
    width:100%;
    border:2px solid rgba(128, 128, 128, 0.214);
}