#root,
html,
body {
  margin: 0;
  height: 100%;
  padding: 0;
  overflow: auto;
  --backgroundColor: rgba(0, 255, 255, 0.23);
  --buttonPrimaryBackground: #05B6D3;
  --buttonPrimaryColor: white;
  --buttonSecondaryBackground:rgba(0, 255, 255, 0.23); 
  --buttonSecondaryColor: #05B6D3;
}